body,html {
  font-size: 10px;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
  background-color: black;
}

#container {
  margin-top: 50px;
  max-width: 50%;
  height: 50%;
  border: 1px solid red;
  margin: auto;
}

div {
  border: 1px solid white;
  width: 10%;
  height: 10px;
  float: left;
}
