body,html {
  font-size: 10px;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
  background-color: black;
}

#container {
  box-sizing: border-box;
  margin-top: 50px;
  width: 600px;
  height: 600px;
  border: 1px solid red;
  margin: auto;
}

div {
  box-sizing: border-box;
  border: 1px solid white;
  float: left;
}
