body,html {
  font-family: sans-serif;
  background-color: rgba(0,0,0,1);
}

.flex-container-display {
  display: flex;
  align-items: center; /*justify-content: center; was not working for unknown reasons*/
  flex-direction: column;
  background-color: rgb(66, 134, 244);
}

.flex-container-display > .displayGridSize {
  text-align: center;
  color: black;
  width: 150px;
  padding: 5px;
  margin: 5px;
}

.flex-container-display > #clearButton {
  width: 150px;
  padding: 5px;
  margin: 5px;
}

#flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 25px auto;
  width: 500px;
  height: 500px;
}

#flex-container > .grid {
  box-sizing: border-box;
  border: 1px solid white;
